gensim
ipykernel
scipy==1.10.1
polars
hvplot>=0.9.1
pyarrow
scikit-learn
shap
matplotlib
einops
fancy_einsum
torch
git+https://github.com/neelnanda-io/Easy-Transformer.git@clean-transformer-demo
plotly
transformer_lens
circuitsvis
nbformat>=4.2.0
plotly 
wandb